<h2>Ваш тимчасовий пароль ви можите його змінити в любий час!!!</h2>
<p>Ваш емейл: <b><%= @user.email %></b></p>
<p>Ваш тимчасовий пароль: <b><%= @user_password %></b>, щоб змінити його зайдіть на сторінку мої данні!</p>