.mdl-card__actions.mdl-card--border.button-with-between
  a type="button" href="/users/auth/facebook" id="facebook" class="btn-fb mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color: #4264aa"
    = fa_icon 'facebook'
    '
    '
      Facebook

  a type="button" href="/users/auth/vkontakte" id="vkontakte" class="btn-fb mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color: #4C75A3"
    = fa_icon 'vk'
    '
    '
      Vkontakte

  a type="button" href="/users/auth/twitter" id="twitter" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color: #55ACEE"
    = fa_icon 'twitter'
    '
    '
      Twitter