<div class="flex-center-block">
  <div class="search-inputs">
    <div class="inputs">
      <div class="form-group has-primary label-floating">
        <label for="f1" class="control-label-primary">Введіть назву пісні:</label>
        <input type="email" class="form-control" id="f1">
      </div>
      <div class="button-with-between">
        <button type="button" class="btn btn-primary">Пошук</button>
        <a href="songs" type="button" class="btn btn-info">Всі пісні</a>
        <a type="button" class="btn btn-warning">Додати пісню</a>
      </div>
    </div>
  </div>
</div>
