<div class="flex-center-block">
  <div class="search-inputs">
    <div class="inputs">
      <div class="form-group has-success label-floating">
        <label for="f1" class="control-label">Введіть назву пісні</label>
        <input type="email" class="form-control" id="f1">
      </div>
      <button type="button" class="btn btn-primary">Пошук</button>
    </div>
  </div>
</div>