<div class="flex-center-block">
  <div class="search-inputs">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Введіть назву пісні</label>
      </div>
    </form>
      <div class="button-with-between">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          <%= fa_icon 'search' %> Пошук
        </button>
        <a href="songs" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          <%= fa_icon 'music' %> Всі пісні
        </a>
        <a type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          <%= fa_icon 'plus' %> Додати пісню
        </a>
      </div>
  </div>
</div>
