@import "variable"

.demo-card-square.mdl-card
  width: 100%
  min-height: 800px

.demo-card-square > .mdl-card__title
  color: $black
  background: no-repeat #46B6AC
  height: 260px

#devise-cart
  .mdl-card__title
    padding: 0
  .mdl-card__title-text
    position: absolute
    padding:
      left: 16px
      bottom: 16px

.mdl-card__supporting-text
  min-height: 500px
  width: 100%

.devise-image-cart
  width: 100%
  height: 100%

#devise-form
  width: 100%
  .mdl-textfield
    width: 100%
  .mdl-textfield__label
    color: $primary
  .mdl-textfield__input
    border-bottom: 1px solid $primary