@import "variable"

html
  height: 100%
  margin: 0
  padding: 0

body
  @extend html
  background-color: $white-grey
  font-family: Latin
  font-size: 14px
  pre
    font-family: Latin
    font-size: 14px
  .body
    height: 90vh

.flex-center-block
  display: flex
  justify-content: center
  align-items: center
  height: 90vh
  width: 100%

.search-inputs
  width: 100%
  .mdl-textfield
    width: 100%
  .mdl-textfield__label
    color: $primary
  .mdl-textfield__input
    border-bottom: 1px solid $primary

.button-with-between
  display: flex
  justify-content: space-between
  .mdl-button
    border-radius: 0

.control-label-primary
  color: $primary

/* spinner */
.sk-block-center
  display: flex
  width: 100%
  justify-content: center

.sk-cube-grid
  width: 120px
  height: 120px
  display: none
/* end spinner */

.active
  a
    color: $primary

.center
  display: flex
  justify-content: center
  align-items: center