@import "variable"

html
  height: 100%
  margin: 0
  padding: 0

body
  @extend html
  background-color: $white-grey
  font-family: Latin
  font-size: 14px
  pre
    font-family: Latin
    font-size: 14px

.flex-center-block
  display: flex
  justify-content: center
  align-items: center
  height: 80%

.search-inputs
  width: 500px
  .mdl-textfield
    width: 100%
  .mdl-textfield__label
    color: $primary
  .mdl-textfield__input
    border-bottom: 1px solid $primary

.button-with-between
  display: flex
  justify-content: space-between
  .mdl-button
    border-radius: 0

.control-label-primary
  color: $primary

/* spinner */

.sk-cube-grid
  width: 120px
  height: 120px
  display: none

.sk-cube-grid .sk-cube
  width: 33%
  height: 33%
  background-color: #333
  float: left
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out

.sk-cube-grid .sk-cube1
  -webkit-animation-delay: 0.2s
  animation-delay: 0.2s
  background-color: $pink

.sk-cube-grid .sk-cube2
  -webkit-animation-delay: 0.3s
  animation-delay: 0.3s
  background-color: $pink

.sk-cube-grid .sk-cube3
  -webkit-animation-delay: 0.4s
  animation-delay: 0.4s
  background-color: $pink

.sk-cube-grid .sk-cube4
  -webkit-animation-delay: 0.1s
  animation-delay: 0.1s
  background-color: $pink

.sk-cube-grid .sk-cube5
  -webkit-animation-delay: 0.2s
  animation-delay: 0.2s
  background-color: $pink

.sk-cube-grid .sk-cube6
  -webkit-animation-delay: 0.3s
  animation-delay: 0.3s
  background-color: $pink

.sk-cube-grid .sk-cube7
  -webkit-animation-delay: 0s
  animation-delay: 0s
  background-color: $pink

.sk-cube-grid .sk-cube8
  -webkit-animation-delay: 0.1s
  animation-delay: 0.1s
  background-color: $pink

.sk-cube-grid .sk-cube9
  -webkit-animation-delay: 0.2s
  animation-delay: 0.2s
  background-color: $pink

@-webkit-keyframes sk-cubeGridScaleDelay
  0%, 70%, 100%
    -webkit-transform: scale3D(1, 1, 1)
    transform: scale3D(1, 1, 1)

  35%
    -webkit-transform: scale3D(0, 0, 1)
    transform: scale3D(0, 0, 1)

@keyframes sk-cubeGridScaleDelay
  0%, 70%, 100%
    -webkit-transform: scale3D(1, 1, 1)
    transform: scale3D(1, 1, 1)

  35%
    -webkit-transform: scale3D(0, 0, 1)
    transform: scale3D(0, 0, 1)
/* end spinner */