@import "variable"

.songs-list-block
  width: 100%
  .mdl-chip.mdl-chip--contact
    width: 100%
  .song-chip-text
    width: 90%
    .song-title-a
      position: absolute
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      width: 50%
    .song-title-component
      float: right
      a
        color: $white
        &:hover
          color: red
      .likes-user-songs
        color: red
  .mdl-color--teal-pink
    background-color: $pink
  .margin-right-teen
    margin-right: 10px
  a
    color: $black
    &:hover
      color: $pink

.song-body
  width: 100%

.text-align-center
  text-align: center

#song-card
  .mdl-card__title
    padding: 0
  .mdl-card__title-text
    position: absolute
    padding:
      left: 16px
      bottom: 16px
  .mdl-card__title
    color: $black
    background: no-repeat #46B6AC
    height: 300px

.song-who-add
  text-align: right
  color: $primary
  margin-top: 15px