@import "variable"

.songs-list-block
  width: 100%
  .mdl-chip.mdl-chip--contact
    width: 100%
  .song-chip-text
    width: 90%
    .song-title-a
      position: absolute
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      width: 50%
    .song-title-component
      float: right
      a
        color: $white
        &:hover
          color: red
  .mdl-color--teal-pink
    background-color: $pink
  .margin-right-teen
    margin-right: 10px
  a
    color: $black
    &:hover
      color: $pink

.song-body
  width: 100%

.pagination > li > a, .pagination > li > span
  color: $pink

.text-align-center
  text-align: center

#song-cart
  .mdl-card__title
    padding: 0
  .mdl-card__title-text
    position: absolute
    padding:
      left: 16px
      bottom: 16px
  .mdl-card__title
    color: $black
    background: no-repeat #46B6AC
    height: 300px

.ui-autocomplete
  position: absolute
  top: 100%
  left: 0
  z-index: 1000
  float: left
  display: none
  min-width: 160px
  _width: 160px
  padding: 4px 0
  margin: 2px 0 0 0
  list-style: none
  background-color: $white
  border-color: #ccc
  border-color: rgba(0, 0, 0, 0.2)
  border-style: solid
  border-width: 1px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  -webkit-background-clip: padding-box
  -moz-background-clip: padding
  background-clip: padding-box
  *border-right-width: 2px
  *border-bottom-width: 2px

  .ui-menu-item > a.ui-corner-all
    display: block
    padding: 3px 15px
    clear: both
    font-weight: normal
    line-height: 18px
    color: $black
    white-space: nowrap
    &:hover
      background-color: blue
      color: $white
      white-space: nowrap
      cursor: pointer

    &.ui-state-hover, &.ui-state-active
      color: $white
      text-decoration: none
      background-color: #0088cc
      border-radius: 0
      -webkit-border-radius: 0
      -moz-border-radius: 0
      background-image: none

.song-who-add
  text-align: right
  color: $primary
  margin-top: 15px